RISC-V/RISC-V.cache/
RISC-V/RISC-V.gen/
RISC-V/RISC-V.hw/
RISC-V/RISC-V.ip_user_files/
RISC-V/RISC-V.runs/
RISC-V/RISC-V.sim/

# Ignore Vivado application runtime log and journal files
*.log
*.jou
*.str

# Ignore system crash/dump folders
.Xil/

# Ignore compiled implementation, hardware, and simulation binary assets 
*.bit
*.mcs
*.prm